*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}
h1{
    width: 100%;
    padding-bottom: 25px;
    font-size: 40px;
    color: white;
    font-weight: 800;
}
.bg-img{
    width: 100%;
    height: 99vh;
    position: absolute;
    z-index: -1;
}
main{
    width: 90%;
    margin: auto;
}
.caja{
    padding: 5%;
    width: 50%;
    margin: auto;
    background: white;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
form{
    margin-left: 5%;
}
.formulario{
    width: 60%;
    height: 60%;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #0099a7c8;
    box-shadow: 0px 0px 10px rgb(100, 100, 100); 
    border-radius: 20px;
}
.form{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 15px;
}
.form input{
    width: 80%;
}
.terminos{
    width: 100%;
}
.terminos label{
    color: white;
}
.hl{
    padding-top: 20px;
}
.form label{
    display: block;
    font-size: 18px;
    width: 80%;
    font-weight: 700;
    color: white;
}
textarea{
    border-radius: 3%;
}
button{
    
    color:white;
    background-color: #EE7AA9;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
}
button:hover{
    background-color: #ee7aa8a7;
    color: black;
}
button:active{
    background-color: #1985a1;
}
.barra{
    background-color: white;
    color: black;
    border-radius: 5px;
    border: solid 1px black;
    padding: 5px;
    text-align: center;
}
#formFooter {
    background-color: #f6f6f6;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  .footer-container{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    margin-bottom: 0;
}
.footer-container ul li{
    color: white;
    list-style: none;
}
footer a{
    color: white;
    text-decoration: none;
}