<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/contactForm.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Contacto Krak Miami</title>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="container1">
                <div class="logo">
                    <a href="/"><img src="/images/Logos/Logo-Krak-Miami.png" alt="Logo Krak Miami"></a>
                </div>
            </div>
                <nav class="navbar">
                    <ul>
                        <li>
                            <a href="#">Sección1</a>
                        </li>
                        <li>
                            <a href="#">Sección2</a>
                        </li>
                        <li>
                            <a href="#">Sección3</a>
                        </li>
                    </ul>
                </nav>
            <div class="burger-menu">
                <ul class="menu">
                    <li><a class="menuItem" href="#">Sección1</a></li>
                    <li><a class="menuItem" href="#">Sección2</a></li>
                    <li><a class="menuItem" href="#">Sección3</a></li>
                  </ul>
                  <button class="hamburger">
                    <!-- material icons https://material.io/resources/icons/ -->
                    <i class="menuIcon material-icons">menu</i>
                    <i class="closeIcon material-icons">close</i>
                  </button>
            </div>
        </div>
       
    </header>
    <div>
        <img class="bg-img" src="/images/pexels-jacoby-clarke-1294149.jpg" alt="">
    </div>
    <div class="caja">
        <form action="/contact" method="POST" >
               
            <div class="formulario"> 
                <h1>Invertí en Miami con Krak</h1>
                
                <div class="form">
                    <label for="">Nombre y apellido</label>
                    <input class="barra" type="text" name="nombre" id="nombre" placeholder="Nombre completo">
                </div>
                <div class="form">
                    <label for="">Teléfono:</label>
                    <input class="barra" type="tel" name="telefono" id="" placeholder="cod. área + número">
                </div>
                <div class="form">
                    <label for="">Correo electrónico:</label>
                    <input class="barra" type="email" name="email" id="email" placeholder="ejemplo@krak.com">
                </div>  
                <div class="form">
                    <label for="">Dejanos tu consulta:</label>
                    <textarea name="consulta" id="" cols="35" rows="7" placeholder="Escriba su consulta aquí.."></textarea>
                </div>
                
                
                <div class="terminos">
                    <input type="checkbox" name="terminos" id="TyC" >
                    <label for="TyC">deseo recibir novedades a mi email sobre nuevas oportunidades de inversión
                <div class="botones">
                    <button type="reset">Borrar</button>
                    <button type="submit">Aceptar</button>
                </div>
                </div>
            </div>
        </form>
    </div>
    <footer>
        <div class="footer-container">
            <img src="/images/Logos/Logo-Krak-Miami---version-blanco.png" alt="">
            <ul>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>