<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Krak Miami</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="container1">
                <div class="logo">
                    <a href="/"><img src="/images/Logos/Logo-Krak-Miami.png" alt="Logo Krak Miami"></a>
                </div>
            </div>
                <nav class="navbar">
                    <ul>
                        <li>
                            <a href="#">Sección1</a>
                        </li>
                        <li>
                            <a href="#">Sección2</a>
                        </li>
                        <li>
                            <a href="#">Sección3</a>
                        </li>
                    </ul>
                </nav>
            <div class="burger-menu">
                <ul class="menu">
                    <li><a class="menuItem" href="#">Sección1</a></li>
                    <li><a class="menuItem" href="#">Sección2</a></li>
                    <li><a class="menuItem" href="#">Sección3</a></li>
                  </ul>
                  <button class="hamburger">
                    <!-- material icons https://material.io/resources/icons/ -->
                    <i class="menuIcon material-icons">menu</i>
                    <i class="closeIcon material-icons">close</i>
                  </button>
            </div>
        </div>
       
    </header>
    <main>
     <div class="main-image">
         <img src="/images/pexels-antonio-cuellar-4366061.jpg" alt="Miami Beach picture">
         <div class="centered">Bienvenido a Krak Miami</div>
     </div>
     <section>
         <div class="section1">
             <div class="container2">
                <div class="frame1"></div>
             <img src="/images/pexels-arnie-watkins-3773651.jpg" alt="">
             </div>
             <div class="paragraph1">
                 <h2>¿Qué es Krak Miami?</h2>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quia necessitatibus incidunt ipsa? Repudiandae in assumenda adipisci dolores quo est atque, nesciunt quaerat sit ipsa id dolore pariatur ut accusantium?</p>
             </div>
         </div>
     </section>
        <div class="main-image2">
            <img  src="/images/krakMIAMI-1.jpg" alt="">
         </div>
         <div class="banner">
             <i class="fas fa-chevron-left"></i>
             <article>
                 <p class="banner-number">
                     1.
                 </p>
                 <div class="banner-paragraph">
                     <h3>¿Cómo podemos ayudarte?</h3>
                     <p>
                         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat aut magnam maiores minima ducimus quod eaque facere tempora dicta nihil? Illo culpa sapiente quos optio totam eaque possimus repellendus exercitationem.
                     </p>
                 </div>
             </article>
             <i class="fas fa-chevron-right"></i>
         </div>
         <section>
            <div class="section2">
                <div>
                <img src="/images/pexels-jacoby-clarke-1294149.jpg" alt="">
                </div>
                <div class="paragraph2">
                    <h2>Pool de inversión</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quia necessitatibus incidunt ipsa? Repudiandae in assumenda adipisci dolores quo est atque, nesciunt quaerat sit ipsa id dolore pariatur ut accusantium?</p>
                    <a href="/contact"><button class="invertir" type="button" >Quiero mi renta</button></a>
                </div>
            </div>
        </section>
        <section>
            <div class="section3">
                <div>
                <img src="/images/pexels-live-on-shot-3665354.jpg" alt="">
                </div>
                <div class="paragraph3">
                    <h2>Pre-construcción</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quia necessitatibus incidunt ipsa? Repudiandae in assumenda adipisci dolores quo est atque, nesciunt quaerat sit ipsa id dolore pariatur ut accusantium?</p>
                    <a href="/contact"><button class="invertir" type="button">Quiero invertir</button></a>
                </div>
            </div>
            <div class="section4">
                <div class="frame2"></div>
                <div class="frame3"></div>
                <img src="/images/pexels-rodnae-productions-8249296.jpg" alt="">
            </div>
            <div class="section5">
                    <div>
                    <img src="/images/krakMIAMI-21.jpg" alt="">
                    </div>
                <div class="paragraph3">
                    <h2>Pre-construcción</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quia necessitatibus incidunt ipsa? Repudiandae in assumenda adipisci dolores quo est atque, nesciunt quaerat sit ipsa id dolore pariatur ut accusantium?</p>
                    <a href="/contact"><button class="invertir" type="button">Quiero invertir</button></a>
                </div>
            </div>
        </section>
        <div class="banner2">
            <img  src="/images/pexels-antonio-cuellar-4366058.jpg" alt="">
            <div class="paragraph4">
                <h2>Descargate nuestra guía para invertir en Miami.</h2>
                <a href="/contact"><button class="invertir" type="button">Quiero invertir</button></a>
            </div>

        </div>
        <section>
            <div class="video">
                <img src="/images/video tag KRAK.png" alt="Miami Beach Tour Video">
            </div>
            <div class="bottom-section">
                <div class="bottom-left-img">
                    <img src="/images/pexels-antonio-cuellar-4366060.jpg" alt="Inversiones en Miami">
                    <div class="overlay">
                        <div class="overlay-text">
                            Inversiones
                        </div>    
                    </div>
                </div>
                <div class="bottom-right-img">
                    <img src="/images/pexels-live-on-shot-3665354.jpg" alt="Multi-family">
                    <div class="overlay">
                        <div class="overlay-text">
                            Multi-family
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-container">
            <img src="/images/Logos/Logo-Krak-Miami---version-blanco.png" alt="">
            <ul>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur</a></li>
            </ul>
        </div>
    </footer>
    <script src="/js/home.js"></script>
</body>
</html>